@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet");

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #facc43;
    --second-color: #253238;
    --white-color: #ffffff;
    --black-color: #000000;
}

.ant-btn-primary {
    border-color: var(--primary-color);
    color: var(--white-color);
    background-color: var(--primary-color);
}

.ant-btn:hover,
.ant-btn:focus {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;
}

.ant-input:focus,
.ant-input-affix-wrapper:focus {
    border-color: var(--primary-color);
}

.ant-input:hover,
.ant-input-affix-wrapper:hover {
    border-color: var(--primary-color);
}

.ant-tag.ant-tag-blue {
    color: var(--white-color);
    background: transparent !important;
    border-color: var(--primary-color) !important;
}

.html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
}

a{
    text-decoration: none;
    color: var(--black-color);
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.sectionHeading {
    font-size: 24px;
    margin: 20px 0;
    color: var(--second-color);
    font-weight: 600;
}